{% extends 'layout.twig' %}

{% block body %}
    <section class="container">
        <article id="content">
            <h2 class="title">Mapa strony</h2>

            <nav>
                <ul>
                    <li>
                        <a href="{{ url('home') }}">Start</a>
                    </li>

                    <li>
                        <a href="{{ url('about') }}">O firmie</a>
                    </li>

                    <li>
                        <a href="{{ url('services') }}">Usługi księgowe</a>
                    </li>

                    <li>
                        <a href="{{ url('sitemap') }}">Mapa strony</a>
                    </li>

                    <li>
                        <a href="{{ url('contact') }}">Kontakt</a>
                    </li>
                </ul>
            </nav>
        </article>
    </section>
{% endblock %}